<html lang="en">
<pre style='color: rgb(169,183,198); font-family: "JetBrains Mono", monospace; font-size: 18pt;'><em
        style="color: rgb(204, 120, 50);">class </em><em
        style="color: rgb(255,255,255);">AyanReza(): </em>

    <em style="color: rgb(204, 120, 50);">def </em><em style="color: rgb(178,0,178);">__init__</em>(<em
            style="color: rgb(148,85,141);">self</em>):
        <em style="color: rgb(148, 85, 141);">self</em><em
            style="color: rgb(255,255,255);">.name = </em><em style="color: rgb(90,252,3);">&apos;Ayan Reza&apos;
</em><em style="color: rgb(90,252,3);">        </em><em style="color: rgb(148, 85, 141);">self</em><em
            style="color: rgb(255,255,255);">.birth = </em><em
            style="color: rgb(90,252,3);">&apos;September 11, 2002&apos;
</em><em style="color: rgb(90,252,3);">        </em><em style="color: rgb(148, 85, 141);">self</em><em
            style="color: rgb(255,255,255);">.age =  </em><em
            style="color: rgb(104, 151, 187);">18
</em><em style="color: rgb(104, 151, 187);">        </em><em style="color: rgb(148, 85, 141);">self</em><em
            style="color: rgb(255,255,255);">.email =  </em><em
            style="color: rgb(90,252,3);">&apos;ayanreza0@gmail.com&apos;
</em><em style="color: rgb(90,252,3);">
</em><em style="color: rgb(90,252,3);">    </em><em style="color: rgb(204, 120, 50);">def </em><em
            style="color: rgb(255, 198, 109);">education</em>():
        <em style="color: rgb(204, 120, 50);">return </em>{
            <em style="color: rgb(90,252,3);">&apos;2020-now&apos;</em>: <em
            style="color: rgb(90, 252, 3);">&apos;Baruch College&apos;</em><em style="color: rgb(204, 120, 50);">,
</em><em style="color: rgb(204, 120, 50);">            </em><em style="color: rgb(90, 252, 3);">&apos;BS in Financial Engineering/ Minor in Physics&apos;
</em><em style="color: rgb(90, 252, 3);">
</em><em style="color: rgb(90, 252, 3);">            &apos;2016-2020&apos;</em>: <em
            style="color: rgb(90, 252, 3);">&apos;Brooklyn Technical High School&apos;</em><em
            style="color: rgb(204, 120, 50);">,
</em><em style="color: rgb(204, 120, 50);">            </em><em style="color: rgb(90, 252, 3);">&apos;Major in Biological/ Natural Sciences&apos;
</em><em style="color: rgb(90, 252, 3);">        </em>}

    <em style="color: rgb(204, 120, 50);">def </em><em style="color: rgb(255, 198, 109);">certificates</em>():
        <em style="color: rgb(204, 120, 50);">return </em>[
            <em style="color: rgb(90, 252, 3);">&apos;CS50 Introduction to Computer Science&apos;<span
                    style="color: rgb(255,255,255);"></span>
</em><em style="color: rgb(90, 252, 3);">        </em>]

    <em style="color: rgb(204, 120, 50);">def </em><em style="color: rgb(255, 198, 109);">skills</em>():
        <em style="color: rgb(204, 120, 50);">return </em>[
            <em style="color: rgb(90, 252, 3);">&apos;Python&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;NumPy&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em style="color: rgb(90, 252, 3);">&apos;Pandas&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;Matplotlib&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;HTML&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;CSS&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;JS&apos;</em><em style="color: rgb(204, 120, 50);">,
</em><em style="color: rgb(204, 120, 50);">            </em><em
            style="color: rgb(90, 252, 3);">&apos;Django&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;Tensorflow&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;Solidity&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em
            style="color: rgb(90, 252, 3);">&apos;SQL&apos;</em><em
            style="color: rgb(204, 120, 50);">, </em><em style="color: rgb(90, 252, 3);">&apos;C&apos;
</em><em style="color: rgb(90, 252, 3);">        </em>]</pre>
</html>